[Desktop Entry]
Type=Application
Exec=chromium-browser  --disable-popup-blocking --no-first-run --disable-desktop-notifications bilibili.com/video/BV1os41197sv?p=100

#BV1os41197sv?p=81 纯音音乐馆 240+10P
#BV1Gm421G7jH “期待今年夏天的风可以凉快一些”||《风吹一夏》
#BV18K421e78z DRV SOUND ONLY
#BV1mc411C71o DRV PRESENTS
#BV1yZ421e7Wc DRV LIVE COLLECTION
#BV1ii4y1a73q 回收站
#
#
#
#